@{
    ViewData["Title"] = "Login Staff";
}

<h1> @ViewData["Title"]</h1>

<div class=" text-center">
    <body>
        <form onsubmit="handlesubmit">
            <input placeholder="Staff Id"/>
            <button style="color: blue" type="submit" onsubmit="alert('Welcome!')">SUBMIT</button>
        </form>
    </body>

</div>

<p>Use this page to detail your site's privacy policy.</p>