@model Late_Staff.Dto.LogArrivalDto;
@{
    ViewData["Title"] = "Login Staff";
}

<h1> @ViewData["Title"]</h1>

<div class=" text-center">
        <form asp-controller="StaffMember" asp-action="LogArrivalTime" method="post">
            <input placeholder="Staff Id" asp-for="StaffId" class="form-control" required />
            <button style="color: cornflowerblue" type="submit" onsubmit="alert('Welcome!!')" class="btn btn-primary">SUBMIT</button>
            @Html.ValidationMessage("StaffId")
        </form>
</div>



<p>Use this page to detail yougyr site's privacy policy.</p>