@{using (Html.BeginForm())
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
   <h4 class="display-4">Welcome</h4>
     <h2>
       <button type="button" class="btn btn-dark" onclick="location.href='@Url.Action("LogArrivalTime", "StaffMember")'">Login ArrivalTime </button>
       <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("CheckLateStaffs", "StaffMember")'">Check LateStaffs </button>
     </h2>
</div>


