@{using (Html.BeginForm())
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
        <h2 class="display-4">Welcome</h2>
        <h3>
        <button style="color: green" type="button" onclick="location.href='@Url.Action("LogArrivalTime", "StaffMember")'">Login ArrivalTime</button>
        <button style="color: red" type="button" onclick="location.href='@Url.Action("CheckLateStaffs", "StaffMember")'">Check LateStaffs</button>
        </h3>
</div>

 